[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/unite"]
	path = bundle/unite
    url = https://github.com/Shougo/unite.vim
    ignore = dirty
[submodule "bundle/vim-hemisu"]
	path = bundle/vim-hemisu
    url = https://github.com/noahfrederick/vim-hemisu
    ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
    url = https://github.com/tpope/vim-unimpaired
    ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
    ignore = dirty
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
    ignore = dirty
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
    ignore = dirty
